.home-about {
  width: 100%;
  padding: 40px 10px;
}

.home-about__container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 50px;
  align-items: flex-start;
}

/* Left Image Box */
.home-about__image {
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
  background: var(--bg-secondary);
}

.home-about__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* Right Content */
.home-about__title {
  font-size: 2rem;
  font-weight: 800;
  margin: 35px 0 20px;
  color: var(--text);
}

.home-about__text {
  font-size: 1.05rem;
  line-height: 1.7;
  color: var(--muted);
}

/* Read More Link */
.home-about__link {
  display: flex;
  gap: 20px;
  margin-top: 18px;

  font-weight: 700;
  font-size: 1rem;
  color: var(--primary);

  text-decoration: none;
  transition: 0.25s ease;
}

.home-about__link:hover {
  transform: translateX(6px);
}

@media (max-width: 900px) {
  .home-about__container {
    grid-template-columns: 1fr;
    padding: 40px;
  }

  .home-about__text {
    margin: auto;
  }

  .home-about__image {
    max-width: 280px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .home-about__link {
    text-align: justify;
    justify-content: center;
  }

  .home-about__content {
    align-items: center;
  }
}

@media (max-width: 500px) {
  .home-about__container {
    padding: 30px 20px;
    gap: 20px;
  }

  .home-about__title {
    font-size: 1.6rem;
  }

  .home-about__text {
    font-size: 0.95rem;
  }
}
