.scroll-down-wrapper {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-down-icon {
  font-size: 30px;
  color: var(--text, #0f172a);
  animation: bounceDown 1.2s infinite;
  transition: 0.3s ease;
}

.scroll-down-wrapper:hover .scroll-down-icon {
  transform: scale(1.2);
  opacity: 0.8;
}

@keyframes bounceDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
