.timeline-section {
  background: var(--accent);
}

.section-title {
  text-align: center;
  margin-bottom: 70px;
}

.section-title h3 {
  color: var(--primary);
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-title h2 {
  font-size: 2.4rem;
  font-weight: 900;
  color: var(--text);
}

.timeline {
  max-width: 1150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 40px;
}

.timeline-content {
  background: var(--bg);
  border: 1px solid rgba(148, 163, 184, 0.18);
  border-radius: 10px;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 18px 0 18px 18px;
  gap: 5px;
}

.timeline-content:hover {
  transform: translateY(-1px);
}

/* Degree Title */
.timeline-content h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--primary);
  margin: 0;
  margin-top: 5px;
}

/* Institute */
.timeline-content h4 {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--muted);
}

.timeline-dateaicon {
  display: flex;
  gap: 5px;
}

.timeline-date {
  display: flex;
  gap: 10px;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--text);
  background: transparent;
  padding: 0;
  margin: 0;
}

/* Tablet */
@media (max-width: 950px) {
  .timeline {
    grid-template-columns: 1fr;
    gap: 28px;
  }

  /* .timeline-content {
    padding: 22px 22px;
  } */
}

/* Mobile */
@media (max-width: 600px) {
  .section-title h2 {
    font-size: 1.9rem;
  }

  .timeline-content h3 {
    font-size: 1.2rem;
  }

  .timeline-content h4 {
    font-size: 0.95rem;
  }

  .timeline-date {
    font-size: 0.85rem;
  }
}
